@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, html, #root, #wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #16171A;
	position: absolute;
	font-family: 'Inter', sans-serif;
}

#title {
	height: 32px;
	width: 100%;
	background-color: #202125;
	box-shadow: 3px 5px 10px 3px rgba(0,0,0,0.1);
	z-index: 2;
}

#title-text {
	width: 100%;
	height: 32px;
	position: absolute;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
	font-size: 95%;
	margin: 0;
	user-select: none;
	color: #BBBBBB;
}

#main {
	width: 100%;
	height: calc(100% - 32px);
	overflow-y: hidden;
}

#title-right, #title-left {
	width: 50%;
	height: 100%;
}

#title-right {
	float: right;
}

#title-left {
	display: flex;
	float: left
}

#icon-wrapper {
	width: 30px;
	height: 100%;
}

#icon {
	width: 20px;
	height: 20px;
	margin-top: 6px;
	margin-left: 5px;
}

#button-wrapper {
	width: 105px;
	height: 100%;
	display: flex;
	float: right;
}

#close, #min, #max {
	width: 35px;
	height: 32px;
	background: none;
	border: none;
	z-index: 2
}

#min img, #close img, #max img {
	display: flex;
	margin: auto;
}

#min:hover, #max:hover {
	background-color: #33353C
}

#close:hover {
	background-color: #f13f32;
}

#drag {
	width: calc(100% - 105px);
	left: 0;
	top: 0;
	height: 32px;
	position: absolute;
	-webkit-app-region: drag;
	z-index: 7;
}	

#content {
	margin-left: 20px;
	margin-top: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

#version-wrapper {
	width: 100%;
	height: 40px;
	display: flexbox;
	gap: 20px
}

#select {
	padding: 0px 20px 0px 20px;
}

#patches-wrapper {
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

#install {
	width: 100%;
}

#restore {
	padding: 0px 40px 0px 40px;
}

.patch {
	width: 100%;
}

.patch-description {
	padding-left: 40px;
	color: rgb(180,180,180)
}

.rs-divider-horizontal {
	margin: 10px 0 !important;
}

::-webkit-scrollbar {
    border-radius: 5px;
    width: 10px
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,55%,.3);
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,55%,.9)
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px
}
